.vs
ConsoleApp1/obj
ConsoleApp1/bin
ProbeAppJ2PMp2/obj
ProbeLibrary/bin
ProbeLibrary/obj
ProbeAppJ2PMp2/bin
PresentationEF/obj
PresentationEF/bin
WebApplication1/obj
WebApplication1/bin
DalJ4/obj
DalJ4/bin
SchoolAPI/obj
SchoolAPI/bin
ClientAPI/obj
ClientAPI/bin